.item-hightlighted {
    background: $primary;
    color: $white;
}

.viking-auto-complete {
    .viking-input-wrapper.input-size-sm {
        margin-bottom: $border-width;
    }

    ul {
        flex-wrap: wrap;
        list-style: none;
        border: $menu-border-width solid $gray-300;
        border-radius: $border-radius;
        margin-top: 10px;
        padding-left: 1rem;
        box-shadow: $menu-box-shadow;
        // transition: $menu-transition;

        li>h5 {
            display: block;
            margin: 1rem 0;
        }
    }
}